@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.country-cards-grid {
  display: grid;
  gap: 2rem;
  @media (width > func.rem(1024)) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media (width <= func.rem(1280)) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (width <= func.rem(1024)) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (width <= func.rem(768)) {
    grid-template-columns: 1fr;
    place-items: center;
  }

  &__nothing-found {
    margin-top: 3rem;
    font-size: v.$font-size-header;
    letter-spacing: 0.075em;
    text-align: center;
    color: var(--header-text);
    @media (width > func.rem(768)) and (height > func.rem(768)) {
      margin-top: 10rem;
    }
  }
}

.country-loading-spinner-container {
  display: grid;
  place-content: center;
}
