@use "../../abstracts/colors" as c;

body {
  // background-color: var(--body-background);
  background-color: c.$very-light-gray;
  @media (prefers-color-scheme: dark) {
    background-color: c.$very-dark-blue-bg;
  }
}
.header-bg {
  background-color: c.$white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  @media (prefers-color-scheme: dark) {
    background-color: c.$dark-blue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: c.$white;
  }
}
