:root {
  //* Dark Mode Elements
  --dark-blue: hsl(209, 23%, 22%);

  //* Dark Mode Background
  --very-dark-blue-bg: hsl(207, 26%, 17%);

  //* Light Mode Text
  --very-dark-blue: hsl(200, 15%, 8%);

  //* Light Mode Input
  --dark-gray: hsl(0, 0%, 52%);

  //* Light Mode Background
  --very-light-gray: hsl(0, 0%, 98%);

  //* Dark Mode Text & Light Mode Elements
  --white: hsl(0, 0%, 100%);

  //* Dark Mode Searchbar placeholder
  --dark-white: hsl(0, 0%, 90%);

  --black: #000;
}
