@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.country-card {
  border-radius: v.$block-border-radius;
  overflow: hidden;
  background-color: var(--country-card-background);
  box-shadow: v.$box-shadow;
  font-size: func.rem(14);
  color: var(--country-card-text-color);
  transition: v.$main-transition;
  &:where(:hover, :focus-visible) {
    animation: shake 500ms;
    @media (prefers-reduced-motion: reduce) {
      animation: none;
    }
  }

  &__link {
    transition: v.$main-transition;
    &:where(:hover, :focus-visible) {
      opacity: 0.5;
    }
    @media (width <= func.rem(768)) {
      width: min(func.rem(450), 100%);
    }
  }

  &__text-wrapper {
    padding: 2em 1.5em 3em;
  }

  &__name {
    font-size: 1.25rem;
    margin-bottom: 1em;
  }

  &__img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
  &__img[data-align-left] {
    object-position: left;
  }

  &__img-loading-spinner {
    display: grid;
    place-items: center;
    aspect-ratio: 16 / 9;
    scale: 0.75;
    @media (width <= func.rem(768)) {
      width: min(func.rem(450), 100%);
    }
  }

  &__text-line:not(:last-child) {
    margin-bottom: 0.5em;
  }

  &__text-bolded {
    font-weight: 600;
  }

  &__text-output {
    color: var(--country-card-text-output-color);
  }

  &__marked-text {
    background: #ff9632;
  }
}

@keyframes shake {
  from {
    rotate: 0;
  }
  12.5% {
    rotate: -1.5deg;
  }
  25% {
    rotate: 0deg;
  }
  37.5% {
    rotate: 1.5deg;
  }
  50% {
    rotate: 0;
  }
  62.5% {
    rotate: -0.5deg;
  }
  75% {
    rotate: 0;
  }
  87.5% {
    rotate: 0.5deg;
  }
  to {
    rotate: 0;
  }
}
