// @use "../../abstracts/mixins" as *;
// @use "../../abstracts/variables" as v;
// @use "../../base/functions" as func;

// .navigation-bar {
//   margin-block: 2rem;

//   &__form-container {
//     @include flex(row, space-between);
//     gap: 3rem;

//     @media (width <= func.rem(768)) {
//       flex-direction: column;
//       align-items: flex-start;
//     }
//   }

//   &__back-btn {
//     @include flex(row, center, center);
//     gap: 0.5em;
//     background: var(--header-bg);
//     border: none;
//     border-radius: v.$block-border-radius;
//     box-shadow: v.$box-shadow;
//     padding: 0.25em 1.75em;
//     font: inherit;
//     color: var(--header-text);
//     text-transform: capitalize;
//     cursor: pointer;
//     transition: v.$main-transition;
//     line-height: 2rem;
//     outline: func.rem(1) solid transparent;

//     &:where(:hover, :focus-visible) {
//       opacity: 0.5;
//       outline: func.rem(1) solid var(--searchbar-outline-color);
//     }

//     &--arrow {
//       font-size: 1.75em;
//     }
//   }
// }

@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.navigation-bar {
  margin-block: 2rem;

  &__form-container {
    @include flex(row, space-between);
    gap: 3rem;

    @media (width <= func.rem(768)) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__back-btn {
    @include flex(row, center, center);
    gap: 0.5em;
    background: var(--header-bg);
    border: none;
    border-radius: v.$block-border-radius;
    box-shadow: v.$box-shadow;
    padding: 0.25em 1.75em;
    font: inherit;
    color: var(--header-text);
    text-transform: capitalize;
    cursor: pointer;
    transition: v.$main-transition;
    line-height: 2rem;
    outline: func.rem(1) solid transparent;

    &:where(:hover, :focus-visible) {
      opacity: 0.5;
      outline: func.rem(1) solid var(--searchbar-outline-color);
    }

    &--arrow {
      font-size: 1.75em;
    }
  }

  &__advanced-settings-grid-container {
    display: grid;
    grid-template-rows: 0fr;
    transition: 500ms ease-in-out;
    & > * {
      overflow: hidden;
    }
    &.show {
      grid-template-rows: 1fr;
    }
  }
  &__advanced-settings-container {
    color: var(--select-input-text-color);
  }

  &__advanced-settings-btn {
    @include flex(row, center, center);
    gap: 0.5em;
    margin-top: 1rem;
    padding: 0.5em 1em;
    background: transparent;
    border: none;
    font: inherit;
    font-weight: 800;
    color: var(--select-input-text-color);
    cursor: pointer;
    transition: v.$main-transition;
    &:where(:hover, :focus-visible) {
      opacity: 0.5;
    }
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  padding: 0;
}
