@use "../../abstracts/mixins" as *;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.detail-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 10%;
  row-gap: 3rem;
  margin-block: 3rem;
  color: var(--country-card-text-color);
  font-size: func.rem(14);
  @media (width <= func.rem(1024)) {
    grid-template-columns: 1fr;
  }
  @media (width <= func.rem(768)) {
    gap: 3rem;
  }

  &__img {
    max-width: 100%;
    height: auto;
  }

  &__data-container {
    @include flex(column, space-evenly);
    gap: 3rem;
    @media (width <= func.rem(1024)) and (width > func.rem(768)) {
      align-items: center;
    }
    @media (width <= func.rem(768)) {
      gap: 2rem;
    }
  }

  &__header {
    font-size: v.$font-size-header;
    @media (width <= func.rem(1024)) {
    }
  }

  &__list-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: var(--country-card-text-output-color);
    @media (width <= func.rem(1024)) and (width > func.rem(768)) {
      & li {
        padding-inline: 3rem;
      }
    }
    @media (width <= func.rem(768)) {
      grid-template-columns: 1fr;
      justify-content: start;
    }

    & b {
      font-weight: 600;
      color: var(--country-card-text-color);
    }
  }

  &__list-item-wrapper {
    @include flex(row, flex-start, center);
    gap: 0.5em;
  }

  &__border-countries-navigation {
    @include flex(row, flex-start, stretch);
    gap: 1rem;
    margin-top: 1rem;
    @media (width <= func.rem(1024)) {
      @include flex(column, flex-start, center);
    }
    @media (width <= func.rem(768)) {
      align-items: flex-start;
    }
  }

  &__border-countries-header {
    font-size: inherit;
    font-weight: 600;
    line-height: func.rem(28);
  }

  &__border-countries-buttons-container {
    @include flex();
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__border-countries-btn {
    min-width: 17ch;
    background: var(--header-bg);
    border: none;
    border-radius: v.$block-border-radius;
    box-shadow: v.$box-shadow;
    padding-block: 0.5em;
    font: inherit;
    color: var(--header-text);
    text-transform: capitalize;
    cursor: pointer;
    transition: v.$main-transition;
    outline: func.rem(1) solid transparent;

    &:where(:hover, :focus-visible) {
      opacity: 0.5;
      outline: func.rem(1) solid var(--searchbar-outline-color);
    }
  }

  &__more-info-container {
    grid-column: 1 / -1;
    width: 100%;
  }

  &__more-info-btn {
    @include flex(row, center, center);
    gap: 0.5em;
    padding: 0.5em 1em;
    translate: -1em;
    background: transparent;
    border: none;
    font: inherit;
    font-weight: 800;
    color: inherit;
    cursor: pointer;
    transition: v.$main-transition;
    &:where(:hover, :focus-visible) {
      opacity: 0.5;
    }
  }

  &__more-info-list-container {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 0fr;
    transition: 500ms ease-in-out;
    & > * {
      overflow: hidden;
    }
    &.show {
      grid-template-rows: 1fr;
    }
  }

  &__more-info-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    color: var(--country-card-text-output-color);
    align-items: center;
    @media (width <= func.rem(1024)) and (width > func.rem(768)) {
      & li {
        padding-inline: 3rem;
      }
    }
    @media (width <= func.rem(768)) {
      grid-template-columns: 1fr;
      justify-content: start;
    }
    & b {
      font-weight: 600;
      color: var(--country-card-text-color);
    }
  }

  &__more-info-list-item-wrapper {
    @include flex(row, flex-start, center);
    gap: 0.5em;
    & > ::first-letter {
      text-transform: capitalize;
    }
  }

  &__more-info-dialog-wrapper {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    @media (width <= func.rem(768)) {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }

  &__more-info-list-item-btn {
    padding: 0.5em 1em;
    background: transparent;
    border: none;
    font: inherit;
    font-weight: 600;
    text-decoration: underline;
    color: var(--country-card-text-color);
    cursor: pointer;
    transition: v.$main-transition;
    &:where(:hover, :focus-visible) {
      opacity: 0.5;
    }
  }

  &__dialog-container {
    border: none;
    border-radius: v.$block-border-radius;
    box-shadow: v.$box-shadow;
  }

  &__map-container {
    height: 80dvh;
    width: 80dvw;
    padding: 0;
    overflow: hidden;
  }

  &__map {
    height: 100%;
    width: 100%;
    border: none;
  }

  &__coat-of-arms-container {
    max-height: 80dvh;
    max-width: 80dvw;
    padding: 1rem;
  }

  &__coat-of-arms {
    max-height: 70dvh;
    max-width: 70dvw;
  }

  &__dialog-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: v.$main-transition;
    @media (width <= func.rem(768)) {
      padding: 0;
    }
    & .close-btn {
      width: 1.5rem;
      aspect-ratio: 1;
      color: var(--dark-blue);
    }
    &:where(:hover, :focus-visible) {
      opacity: 0.5;
    }
  }

  &__advanced-settings-btn {
    background: transparent;
  }
}
