@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.select-input-container {
  min-width: fit-content;
  padding-right: 1rem;
  background: c.$white;
  outline: func.rem(1) solid transparent;
  border-radius: v.$block-border-radius;
  overflow: hidden;
  box-shadow: v.$box-shadow;
  cursor: pointer;
  transition: v.$main-transition;
  &:where(:hover, :focus-within) {
    outline: func.rem(1) solid black;
  }
}

.select-input {
  height: 100%;
  padding: 1rem;
  padding-right: 3rem;
  background: inherit;
  border: none;
  outline: none;
  font: inherit;
  cursor: inherit;
}

select option {
  margin: 1rem;
  padding: 1rem;
  line-height: 2rem;
}
