@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../base/functions" as func;

.select-input-container {
  min-width: fit-content;
  padding-right: 1rem;
  background-color: c.$white;
  outline: func.rem(1) solid transparent;
  border-radius: v.$block-border-radius;
  overflow: hidden;
  box-shadow: v.$box-shadow;
  cursor: pointer;
  transition: v.$main-transition;
  @media (prefers-color-scheme: dark) {
    background-color: c.$dark-blue;
    color: c.$white;
  }
  &:where(:hover, :focus-within) {
    outline: func.rem(1) solid black;
    @media (prefers-color-scheme: dark) {
      outline: func.rem(1) solid c.$white;
    }
  }
}

.select-input {
  height: 100%;
  padding: 1rem;
  padding-right: 3rem;
  background: inherit;
  border: none;
  outline: none;
  font: inherit;
  cursor: inherit;
  @media (prefers-color-scheme: dark) {
    color: c.$white;
  }
}
