@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;

.header-container {
  @include flex(row, space-between, center);
  padding-block: 1.5rem;
  height: 80px;

  &__header {
    font-size: v.$font-size-header;
  }
}
