@font-face {
  font-family: "Nunito Sans";
  font-weight: 300;
  src: url("./assets/fonts/nunitosans_7pt-light-webfont.woff2") format("woff2"),
    url("./assets/fonts/nunitosans_7pt-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 600;
  src: url("./assets/fonts/nunitosans_7pt-semibold-webfont.woff2") format("woff2"),
    url("./assets/fonts/nunitosans_7pt-semibold-webfont.woff") format("woff");
}

@font-face {
  font-family: "Nunito Sans";
  font-weight: 800;
  src: url("./assets/fonts/nunitosans_7pt-extrabold-webfont.woff2") format("woff2"),
    url("./assets/fonts/nunitosans_7pt-extrabold-webfont.woff") format("woff");
}
