@use "../base/functions" as func;
@use "../abstracts/variables" as v;

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: func.rem(1440);
  margin-inline: auto;
  padding-inline: 3rem;
  @media (width <= func.rem(768)) {
    width: 90%;
    padding-inline: 0;
  }
  @media (width <= func.rem(480)) {
    width: 95%;
  }
}

.arrow-svg {
  height: func.rem(10);
  aspect-ratio: 1;
  font-weight: 800;
  transition: v.$main-transition;
}
.arrow-svg.rotate {
  rotate: -180deg;
}
