//! Light Theme
:root {
  //* App
  --body-background: var(--very-light-gray);
  --header-bg: var(--white);
  --header-text: var(--very-dark-blue);

  //* DarkModeSwitch
  --dark-mode-switch-text-color: var(--very-dark-blue);
  --dark-mode-switch-text-color-hover: var(--very-dark-blue);
  --dark-mode-switch-opacity: 0.5;
  --dark-mode-switch-icon-moon-border-color: var(--very-dark-blue);
  --dark-mode-switch-icon-moon-border-color-hover: var(--very-dark-blue);
  --dark-mode-switch-icon-moon-fill-color: var(--white);
  --dark-mode-switch-icon-moon-fill-color-hover: var(--white);

  //* Loading Spinner
  --loading-spinner-color: var(--very-dark-blue);

  //* SearchBar
  --searchbar-background: var(--white);
  --searchbar-text-color: var(--very-dark-blue);
  --searchbar-text-color-placeholder: var(--dark-gray);
  --searchbar-icon-color: var(--dark-gray);
  --searchbar-outline-color: var(--black);

  //* Select Input
  --select-input-background: var(--white);
  --select-input-text-color: var(--very-dark-blue);
  --select-input-outline-color: var(--black);
  --select-input-list-item-selected-background: hsl(0, 0%, 85%);
  --select-input-background-input: hsl(0, 0%, 85%);
  --select-input-background-input-highlighted: hsl(0, 0%, 60%);

  //* Card
  --country-card-background: var(--white);
  --country-card-text-color: var(--very-dark-blue);
  --country-card-text-output-color: var(--very-dark-blue);
}

//! Dark Theme
[data-theme="dark"] {
  //* App
  --body-background: var(--very-dark-blue-bg);
  --header-bg: var(--dark-blue);
  --header-text: var(--white);

  //* DarkModeSwitch
  --dark-mode-switch-text-color: var(--white);
  --dark-mode-switch-text-color-hover: var(--black);
  --dark-mode-switch-opacity: 1;
  --dark-mode-switch-icon-moon-border-color: var(--white);
  --dark-mode-switch-icon-moon-border-color-hover: var(--black);
  --dark-mode-switch-icon-moon-fill-color: var(--white);
  --dark-mode-switch-icon-moon-fill-color-hover: var(--black);

  //* Loading Spinner
  --loading-spinner-color: var(--white);

  //* SearchBar
  --searchbar-background: var(--dark-blue);
  --searchbar-text-color: var(--white);
  --searchbar-text-color-placeholder: var(--dark-white);
  --searchbar-icon-color: var(--dark-white);
  --searchbar-outline-color: var(--white);

  //* Select Input
  --select-input-background: var(--dark-blue);
  --select-input-text-color: var(--white);
  --select-input-outline-color: var(--white);
  --select-input-list-item-selected-background: hsl(207, 26%, 30%);
  --select-input-background-input: var(--very-dark-blue-bg);
  --select-input-background-input-highlighted: var(--dark-blue);

  //* Card
  --country-card-background: var(--dark-blue);
  --country-card-text-color: var(--white);
  --country-card-text-output-color: var(--dark-white);
}
