@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;
@use "../../base/functions" as func;

.dark-mode-switch {
  @include flex(row, center, center);
  gap: 0.5em;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font: inherit;
  color: c.$very-dark-blue;
  transition: v.$main-transition;
  @media (width > func.rem(480)) {
    padding-right: 0.5rem;
    margin-right: -0.5em;
  }
  @media (width <= func.rem(480)) {
    padding-right: 0.25rem;
    margin-right: -0.25em;
  }

  &__icon {
    width: func.rem(24);
    aspect-ratio: 1;
    rotate: -10deg;
    @media (width <= func.rem(480)) {
      width: func.rem(20);
    }
  }

  &__text {
    font-size: func.rem(14);
    font-weight: 600;
    cursor: inherit;
    padding-block: 0.5em;
  }

  &:where(:hover, :focus-visible) {
    opacity: 0.5;
  }
}
