@use "../../abstracts/colors" as c;
@use "../../abstracts/variables" as v;
@use "../../abstracts/mixins" as *;
@use "../../base/functions" as func;

.dark-mode-switch {
  @include flex(row, center, center);
  gap: 0.5em;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  font: inherit;
  color: var(--dark-mode-switch-text-color);
  transition: v.$main-transition;
  @media (width > func.rem(480)) {
    padding-inline: 0.5rem;
    margin-right: -0.5em;
  }
  @media (width <= func.rem(480)) {
    padding-inline: 0.25rem;
    margin-right: -0.25em;
  }

  &:where(:hover, :focus-visible) {
    color: var(--dark-mode-switch-text-color-hover);
    opacity: var(--dark-mode-switch-opacity);
  }

  &__text {
    font-size: func.rem(14);
    font-weight: 600;
    cursor: inherit;
    padding-block: 0.5em;
  }
}

#icon-moon-border {
  color: var(--dark-mode-switch-icon-moon-border-color);
  transition: v.$main-transition;
}
#icon-moon-fill {
  color: var(--dark-mode-switch-icon-moon-fill-color);
  transition: v.$main-transition;
}
.dark-mode-switch:where(:hover, :focus-visible) #icon-moon-border {
  color: var(--dark-mode-switch-icon-moon-border-color-hover);
}
.dark-mode-switch:where(:hover, :focus-visible) #icon-moon-fill {
  color: var(--dark-mode-switch-icon-moon-fill-color-hover);
}
